@use "./variables" as var;

.search {
  &__top {
    background-image: url("../../images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    padding: 1.2rem 0;
  }

  &__heading {
    color: white;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    #ip-input {
      width: 30%;
      padding: 0.75rem;
      border-radius: 0.75rem 0 0 0.75rem;
      border: 1px solid var.$dark-gray;
      font-size: 18px;
      outline: none;
    }
    button[type="submit"] {
      cursor: pointer;
    }
  }
}
