@use "./variables" as var;
@use "./mediaQuery" as *;

.search {
  min-width: 100vw;
  min-height: 100vh;

  &__top {
    background-image: url("https://github.com/SaeM843/IP-Address-Tracker/blob/main/images/pattern-bg-desktop.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    padding: 1.2rem 0;

    @include mq(sp) {
      background-image: url("https://github.com/SaeM843/IP-Address-Tracker/blob/main/images/pattern-bg-mobile.png?raw=true");
    }
  }

  &__heading {
    color: white;
    text-align: center;
    font-weight: 500;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    #ip-input {
      width: 33%;
      padding: 0.8rem 0.75rem;
      border-radius: 0.75rem 0 0 0.75rem;
      border: 1px solid var.$dark-gray;
      font-size: 18px;
      outline: none;

      @include mq(sp) {
        width: 80%;
      }

      @include mq(tab) {
        width: 70%;
      }
    }
    button[type="submit"] {
      cursor: pointer;
      border-radius: 0 0.75rem 0.75rem 0;
      outline: none;
      border: 1px solid var.$dark-gray;
      padding: 1rem;
      background-color: black;
    }
  }
  &__results {
    background-color: white;
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-height: 20vh;
    z-index: 100;
    top: 20%;
    border-radius: 1rem;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
    padding: 1.75rem 2rem;

    display: flex;
    justify-content: space-between;

    @include mq(sp) {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 75vw;
    }

    @include mq(tab) {
      width: 85vw;
      padding: 1rem 0;
    }

    .result-box {
      width: 25%;
      padding: 0 1.5rem;
      word-wrap: break-word;

      @include mq(sp) {
        width: 100%;
      }

      &:not(:last-child) {
        border-right: 1.5px solid var.$dark-gray;
        padding-bottom: 1.5rem;

        @include mq(sp) {
          border: none;
        }
      }

      span {
        display: block;
      }
    }

    .info-title {
      font-size: 0.8rem;
      font-weight: 700;
      color: var.$dark-gray;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      @include mq(sp) {
        font-size: 0.7rem;
      }
    }

    .info-field {
      margin-top: 0.7rem;
      font-size: 1.5rem;
      font-weight: 700;

      @include mq(sp) {
        font-size: 1rem;
      }

      @include mq(tab) {
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
  }
  #map {
    min-height: 80vh;
    z-index: 1;
  }
}
